* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Cantarell, "Segoe UI";
    background-color: #909090;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header and footer sections */
.header, .footer {
    display: flex;
    justify-content: center;
    padding: 12px 0px;
    font-size: 24px;
    font-family: monospace;
    font-weight: normal;
}

.header h1, .footer h1 {
    color: #F2F2F2;
}

.footer h1 {
    font-size: 16px;
}

/* Matrix for all squares */
.main-matrix {
    height: 600px;
    width: 600px;
    border: 2px solid #202020;
    border-radius: 2.5%;
}

/* 16 squares to fit canvas */
.squares {
    height: 37.5px;
    width: 37.5px;
    border: 2px solid #202020;
    border-radius: 10%;
    margin: 12px;
}

/* Main section */
.container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #D3D3D3;
    padding: 60px 0px 120px 0px;
}

/* General text */
h1, h2, p {
    color: #202020;
    padding: 24px 0px;
    justify-content: center;
}

a {
    color: cyan;
    font-weight: 450;
}
