* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Cantarell, "Segoe UI";
    background-color: #707070;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header and footer sections */
.header,
.footer {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: monospace;
    font-weight: normal;
}

.header h1,
.footer h1 {
    color: #F2F2F2;
}

.footer h1 {
    font-size: 16px;
}

/* Matrix for cells */
.matrix {
    height: 484px;
    width: 484px;
    border: 2px solid #202020;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Cell styling */
.cells {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    background-color: white;
}

/* Main section */
.container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #D3D3D3;
    padding: 60px 0px 120px 0px;
}

/* General text */
h1,
h2,
p {
    color: #202020;
    padding: 24px 0px;
    justify-content: center;
    width: 100%;
    display: flex;
}

/* Buttons section */
.options-buttons {
    gap: 36px;
    margin: 12px 0px 24px 0px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

/* Button defaults */
button {
    padding: 16px 28px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    color: #F2F2F2;
}

/* Grid size btn */
#size-btn {
    background-color: #707070;
    border-color: #707070;
}

/* Rainbow btn */
#rainbow-btn {
    background-color: violet;
    border-color: violet;
}

/* Black button */
#black-btn {
    background-color: black;
    border-color: black;
}

/* Reset btn */
#reset-btn {
    background-color: white;
    border-color: white;
    color: black;
}

a {
    color: cyan;
    font-weight: 450;
}